
/*  "About" page styles  */
.about-reason-box{
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 250px;
  height: minmax(fit-content,250px);
  padding: 3%;
}

.about-reason-box:hover{
  transform: scale(1.2);
  box-shadow: 0 0 15px 2px #e99400;
  transition: 0.5s;
}

.about-reason-box .reason-image{
  border-radius: 50%;
  width: 150px;
  height: auto;
  margin: 5px auto;
}

.about-reason-box .reason-header{
  font-size: x-large;
  margin: 5px auto;
}

.about-reason-box .reason-description {
  margin: 5px auto;
}