/*  "Contacts" page styles  */

.accounts-box{
  display: flex;
  flex-direction: column;
}

.accounts-box .account-line{
  font-size: x-large;
  font-weight: bold;
  height: 40px;
  margin: 5px 0;
  padding:0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accounts-box .account-line:hover{
  filter: invert(60%) sepia(52%) saturate(3626%) hue-rotate(10deg) brightness(103%) contrast(101%);  
  transition-duration: 0.5s;
}

.account-line .media-icon{
  height: 32px;
  width: auto;
  margin: 0 10px;
}

@media screen and (max-width: 760px){
  .accounts-box .account-line{
    font-size: large;
  }
}

.feedback-form-box{
  max-width: 50%;
  min-width: 300px;
}

.feedback-form{
  display: flex;
  flex-flow: column;
}

.feedback-form-title{
  font-family: inherit;
  font-weight:lighter;
  font-size: x-large;
  text-align: center;
  width: 100%;
  margin: 5px auto;
}

.feedback-form-field{
  border-style: none;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  box-shadow: 0 0 3px 1px lightgray;
  font-family: inherit;
  font-size: large;
  resize: none;
}

.feedback-form-field:focus{
  box-shadow: 0 0 3px 1px #e99400;
  transition-duration: 0.5s;
}

.feedback-form-button{
  background-color:#e99400;
  color: white;
  border-style: none;
  font-family: inherit;
  font-size: large;
  text-align: center;
  margin: 5px 0;
  width: 40px;
  min-width:max-content;
  height: 40px;
  min-height: max-content;  
  cursor: pointer;
}

.feedback-form-button:hover{
  background-color: white;
  color: #e99400;
  box-shadow: 0 0 3px 1px #e99400;
  transition-duration: 0.5s;  
}
