/*  Site footer styles  */
.footer {
  background-color: #e99400;
  color: white;
}

.footer a:hover{
  color: black;
  transition-duration: 0.5s;
}

.footer-content{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.footer-logo{
  margin: 0 auto;
  height: auto;
  width: 249px;
}

.footer-nav ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

@media (max-width: 720px) {
  .footer-nav ul {
    flex-direction: column;
  }
}

.footer-nav ul li{
  margin: 1rem 0;
}

.footer-content h3 {
  font-size: x-large;
  font-weight: bold;
}

.footer-content h4 {
  font-style: italic;
  margin: 0;
  padding: 1rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
}

.icon{
    padding: 0 1rem;
}