.page .header-box{
  height: 50px;
  padding: 0 5vw;
  color: white;
  font-size: 25px;
  background-color: #e99400;
  z-index: 1;
  position: sticky;
  top: 0px;
}

.header-box a:hover{
  color: black;
  transition-duration: 0.5s;
}

.header-box .header-content{
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header-content .logo_box{
  height: 44px;
  padding: 3px 0;
  width: auto;
}

.logo_box .logo-image{
  height: inherit;
}

.page .header-box .menu-box {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-basis: 70%;
}

.page .header-box .menu-box ul {
  margin: 0;  
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.page .header-box .menu-box li {
  align-self: center;
  white-space: nowrap;
}

.page .header-box .show-button {
  background-color: white;
  color: #e99400;
  text-align: center;
  padding: 10px;
  display: none;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked ~ .menu-box{
  position: sticky;
  display: flex;
  flex-basis: 100%;
}

@media screen and (max-width: 760px) { 
    .page .header-box .show-button{
      display: block;
    }

    .menu-box{
      display: none;
    }
    
    .page .header-box .menu-box ul{ 
      background-color: #e99400;
      flex-flow: column;
      width: 100%;
    }

    .page .header-box .menu-box li {
      align-self: center;
      display: inline;
      white-space: nowrap;
      text-align: center;
      font-size: xx-large;
      color: white;
      width: inherit;
      border-style:ridge;
      border-width: 1px;
      border-color: white;
    }

}