.page .header-box{
  height: 40px;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e99400;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
}

.page .header-box .logo_box{
  height: inherit;
}

.page .header-box .menu-box {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-basis: 70%;
}

.page .header-box .menu-box ul {
  margin: 0;  
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.page .header-box .menu-box li {
  align-self: center;
  white-space: nowrap;
}

.page .header-box .show-button {
  background-color: white;
  color: #e99400;
  text-align: center;
  padding: 10px;
  display: none;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked ~ .menu-box{
  position: sticky;
  display: flex;
  flex-basis: 100%;
}

@media screen and (max-width: 760px) { 
    .page .header-box .show-button{
      display: block;
    }

    .menu-box{
      display: none;
    }
    
    .page .header-box .menu-box ul{ 
      background-color: #e99400;
      flex-flow: column;
      width: 100%;
    }

    .page .header-box .menu-box li {
      align-self: center;
      display: inline;
      white-space: nowrap;
      text-align: center;
      font-size: xx-large;
      color: white;
      width: inherit;
      border-style:ridge;
      border-width: 1px;
      border-color: white;
    }

}