/*  Homepage styles block  */
.homepage {
  background-image: url("images/bg.jpg");
  background-color: #e99400;
  background-size: cover;
  background-position:top;
  color: white;
}

@media screen and (min-height: 720px) { 
  .homepage  {
  height: 100vh; }
}

.homepage .header {
  text-align: center;
  white-space: nowrap;
}

.homepage .header .menu {
  margin: 2% 0 0 0;
  padding: 2% 0 2% 0;
  font-weight: lighter;
  font-size: 150%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-left: none;
  border-right: none;
}

.homepage .header .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0 15% 0 15%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .homepage .header .menu ul {
    flex-direction: column;
  }
}

.homepage .main-text {
  text-align: left;
  margin-top: 10%;
  padding-bottom: 5%;
  width: 20rem;
}

.homepage .main-text h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10rem;
  margin: 0;
  padding: 0;
}

.homepage .main-text h2{
  text-transform: uppercase;
  font-size: 2rem; 
  margin: 0;
  padding: 0 0 2% 0;
  border-bottom-style: solid;
  border-width: 1px;
}

.homepage .main-text h3{
  font-size: 1rem;
  margin-top: 5%;
  padding: 0;
}
