body {
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.page{
  background-color: white;
  color: black;
}

.content{
  max-width: 1920px;
  min-height: 98vh;
  margin: 0 auto;
  padding: 1vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.content .content-info{
  text-align: center;
  margin: 1vh auto;
}

.content .content-info h1{
  font-size: 8vmax;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content .content-info h2{
  font-size: 1.5vmax;
  font-weight: normal;
}

.content .content-main{
  display: flex;
  justify-content: space-around;
  row-gap: 15px;
  flex-wrap: wrap;
  margin: auto 0;
  padding: 0;
}