html{
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.page{
  background-color: white;
  color: black;
}

.content{
  width: min(1920px,100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  align-self: center;
}

.content .content-info{
  text-align: center;
  margin: 5vh auto;
}

.content .content-info h1{
  font-size: clamp(2rem,8vw,8rem);
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content .content-info h2{
  font-size: clamp(0.25rem,2vw,2rem);
  font-weight: normal;
}

.content .content-main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto 0;
  padding: 40px 5vw;
}