/*  "News" page styles  */

.news-article-box{
  padding: 5vh;
  width: 300px;
  text-align: center;
  background-color: white;  
  cursor: pointer;
}

.news-article-info{
  margin: 5px;
}

.article-image{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.news-article-info .article-header{
  font-size: 2rem;
  margin: 5px;
}

.article-time{
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0;
}

.news-article-box .article-description{
  text-align: center;
  padding: auto 0;
  opacity: 0.7;
}

.news-article-box:hover .article-image{
  border-radius: 25%;
  filter: saturate(1.5);
  transition-duration: 0.5s;
}

.news-article-box:hover .article-header{
  color: #e99400;
  transition-duration: 0.5s;
}

.news-article-box:hover .article-description{
  opacity: 1;
  transition-duration: 0.5s;
}