/*  "Shop" page styles */

.products-box{
  width: 100%;
}

.product-tile{
  float: left;
  position: relative;
  width: calc(100%/7);
  padding-bottom: calc(100%/7);
}

.product-image{
  position: absolute;
  height: 100%;
}

.product-info
{
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #e99400;
  font-family: inherit;
  display: none;
}

.product-tile:hover .product-info{
  display: flex;
  transition-duration: 0.5s;
}

.product-info .text{
  margin: 5px 5px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: space-evenly;
  font-size: clamp(0.8rem,1.8vw,2rem);
}

.product-info .text h1
{
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.product-info .text h2
{
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  font-weight: lighter;
}

.product-info .text h3
{
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


@media only screen and (max-width : 650px) {
  /* Smartphones and tablets view: 3 tiles */
  .product-tile {
    width: calc(100%/3);
    padding-bottom: calc(100%/3);
  }
}

@media only screen and (max-width : 1290px) and (min-width : 651px){
  /* Small desktops view: 5 tiles */
  .product-tile {
    width: calc(100%/5);
    padding-bottom: calc(100%/5);
  }
}
